body {
    background-color: #DADADA;
    margin: 0;

    height: 100vh;
    overflow: hidden;
}


header {
    background-color: #444444;
    padding: 0.4em;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#profileLogo {
    margin: 0;
    margin-right: 1em;
    cursor: pointer;
}

#mainContainer {
    height: 100%;

    display: flex;
    flex-direction: row;
}

#leftNav {
    width: 15%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#leftNav > ul > li > a {
    color: #696969;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0em 2em 2em 4em;
}

a {
    text-decoration: none;
}

.main-container {
    margin-top: 2em;
    position: absolute;
    left: 40%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

#aAvailability {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
}

#availabilityButton {
    color: white;
    background-color: #54B145;
    border: 0px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
    line-height: 2em;

    cursor: pointer;
    width: 50%;
}