<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Availability</title>
    <link rel="stylesheet" type="text/css" href="/css/availabilityStyle.css">
</head>
<body>
    <header>
        <a id="profileLogo" href="/profile"><img src="/img/profileIcon.svg" alt="Profile"></a>
    </header>

    <div id="mainContainer">
        <nav id="leftNav">
            <ul>
                <li><a href="dashboard">Dashboard</a></li>
                <li><a href="schedule">Schedule</a></li>
                <li><a href="adverts">Adverts</a></li>
            </ul>
        </nav>

        <main class="main-container">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                        <th scope="col">Sunday</th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"><input type="text" name="fridayAvailability"></td>
                        <td scope="row"><input type="text" name="saturdayAvailability"></td>
                        <td scope="row"><input type="text" name="sundayAvailability"></td>
                        <td scope="row"><input type="text" name="mondayAvailability"></td>
                        <td scope="row"><input type="text" name="tuesdayAvailability"></td>
                        <td scope="row"><input type="text" name="wednesdayAvailability"></td>
                        <td scope="row"><input type="text" name="thursdayAvailability"></td>
                    </tr>
                </tbody>
            </table>

            <a href="schedule" id="aSendAvailability"><button id="sendAvailabilityButton">Send availability</button></a>
        </main>
    </div>
</body>
</html>