<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/loginStyle.css">
</head>
<body>
    <div id="signInContainer">
        <h1 id="signIn">Sign in</h1>
        <form id="signInForm" action="POST">
            <div class="formRecord">
                <span class="formSpan">Username</span>
                <input class="formInput" type="text">
            </div>
            <div class="formRecord">
                <span class="formSpan">Password</span>
                <input class="formInput" type= "password">
            </div>
            <button id="loginButton">Login</button>
        </form>
    </div>
</body>
</html>