<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet" type="text/css" href="/css/scheduleStyle.css">
</head>
<body>
    <header>
        <a id="profileLogo" href="/profile"><img src="/img/profileIcon.svg" alt="Profile"></a>
    </header>

    <div id="mainContainer">
        <nav id="leftNav">
            <ul>
                <li><a href="dashboard">Dashboard</a></li>
                <li><a href="schedule">Schedule</a></li>
                <li><a href="adverts">Adverts</a></li>
            </ul>
        </nav>

        <main class="main-container">
            <table>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                        <th scope="col">Sunday</th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Worker 1</th>
                        <td scope="row">19:00 - 24:00</td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                    </tr>
                    <tr>
                        <th scope="row">Worker 2</th>
                        <td scope="row">15:00 - 19:00</td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                    </tr>
                </tbody>
            </table>

            <a href="availability" id="aAvailability"><button id="availabilityButton">Next week availability</button></a>
        </main>
    </div>
</body>
</html>